/* main page css */

.title {
    text-align: center;
    font-family: "Brush Script MT", sans-serif;
    font-weight: 100; 
}

.hpl, .hpl a {
    color: black;
    padding-bottom: 5px;
}

/* Green juice css */

.gj {
    background-color: rgba(172, 255, 47, 0.435);
    color: rgb(60, 60, 60);
}

#title {
    font-weight: bold;
    text-align: center;
}

.image {
    height: auto;
    width: 482px;
    opacity: .75;
}

.citation {
    font-size: 10px;
    font-family: "Georgia", "Serif";

}

.citation em {
    font-size: 12px;
    font-family: "Copperplate", "Fantasy";
}

/* Takoyaki css */

.tki {
    background-color: lightslategrey;
    text-align: center;
}

.items{
    text-align: left;
    font-family: Arial, sans-serif;
}

.ct {
    text-align: right;
}


/* Guacamole css */

.guac {
    background-color: rgba(255, 182, 193, 0.679);
    color: black;
    font-family: "Times New Roman", serif;
}

.guac > h1 {
    font-weight: 100;
    text-align: center;
}